@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background:#fff;
    color: #333;
    line-height: 1.6;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

h1, h2{
    font-weight: 300;
    line-height: 1.2;
}

p{
    margin: 10px 0;
}

img{
    width: 100%;
}

/* Navbar Start */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    opacity: 0.8;
    background: #333;
    position: fixed;
    top: 0;
    color: #fff;
    padding: 0 30px;
}

.navbar ul{
    display: flex;
}

.navbar a{
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover{
    border-bottom: #28a745 2px solid;
}

.navbar.top {
    background: transparent;
}

.logo{
    font-weight: 400;
}

/* Header Content Start */
.hero{
    background: url("../img/home/showcase.jpg") no-repeat center center/cover;
    position: relative;
    height: 100vh;
}

.hero .content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    color: #fff;
}

.hero .content h1{
    font-size: 55px;
}

.hero .content p{
    font-size: 23px;
    margin: 20px 0 30px;
}

.hero .content a i{
    margin-right: 5px;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.hero *{
    z-index: 10;
}

.hero.blog{
    height: 30vh;
    background: url("../img/home/blog.jpg") center center/cover no-repeat;
}
/* Header Content End */

/* About Content Start */
.icons{
    padding: 30px;
}

.icons h3{
    font-weight: bold;
    margin-bottom: 15px;
}

.icons i{
    background-color: #28a745;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 15px;
    color: #fff;
}
/* About Content End */
/* Cases Start */
.cases img:hover{
    opacity: 0.7;
}
/* Cases End */

/* Team Start */
#team img{
    border-radius: 50%;
}
/* Team End */
/* Contact Start */
.callback-form {
    width: 100%;
    padding: 20px 0;
}

.callback-form label {
    display: block;
    margin-bottom: 5px;
}

.callback-form .form-control{
    margin-bottom: 15px;
}

.callback-form input, textarea{
    width: 100%;
    border: #f5f5f5 1px solid;
    padding: 10px;
}

.callback-form input{
    height: 40px;
}

.callback-form input:focus , textarea:focus{
    outline-color: #28a745;
}

.callback-form .btn {
    padding: 12px 0;
    margin-top: 20px;
}
/* Contact End */
/* Footer Start */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}


.footer a {
    color: #fff;
    margin-right: 15px;
    transition: 0.5s;
}

.footer a:hover {
    color: #28a745;
}

/* Footer End */

/* *Responsive Design */
@media(max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: 120px;
        padding:20px;
    }

    .navbar a {
        padding: 10px;
        margin: 0 3px;
    }

    .hero .content h1 {
        font-size: 40px;
    }

    .hero .content p {
        font-size: 15px;
    }

    .flex-items {
        flex-direction: column;
    }

    .flex-columns .colomn, .flex-grid .row .colomn {
        flex: 100%;
        max-width: 100%;
    }

    #team img{
        width: 70%;
    }
}

/* Post style */

#post{
    margin: 40px 20px;
}

#post h2 {
    font-size: 38px;
    margin-bottom: 10px;
}

#post img{
    display: block;
    margin: 30px auto;
    width: 300px;
    border-radius: 50%;
    /* margin: 30px 0; */
}