/* Text Colors */
.text-primary{
    color: #28a745;
}

.text-secondary{
    color: #0284d0;
}

/* button */
.btn{
    cursor: pointer;
    display: inline-block;
    padding: 10px 24px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
}

.btn-primary, .bg-primary{
    background-color: #28a745;
    color: #fff;
}
.btn-secondary, .bg-secondary{
    background-color: #0284d0;
    color: #fff;
}
.btn-dark, .bg-dark{
    background-color: #333;
    color: #fff;
}
.btn-light, .bg-light{
    background-color: #f4f4f4;
    color: #333;
}

.btn:hover{
    opacity: 0.9;
}

.btn-outline{
    background: transparent;
    border: 1px solid #fff;
}

/* Flex items */
.flex-items{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-items > div{
    padding: 3rem 2rem;
}

/* Flex Columns */
.flex-columns.flex-reverse .row{
    flex-direction: row-reverse;
}

.flex-columns .row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
}

.flex-columns .colomn{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    max-width: 50%;
}

.flex-columns .colomn .colomn-1,
.flex-columns .colomn .colomn-2{
    height: 100%;
}

.flex-columns img{
    object-fit: cover;
    height: 100%;
}

.flex-columns .colomn .colomn-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
}

.flex-columns h2{
    font-size: 40px;
    font-weight: 100;
}

.flex-columns h4{
    margin-bottom: 10px;
}

.flex-columns p{
    margin: 20px 0;
}

.section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-header h2{
    font-size: 40px;
    margin: 20px 0;
}

.section-padding {
    padding: 20px 20px 40px;
}

/* Flex grid */
.flex-grid .row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.flex-grid .row .colomn{
    flex: 25%;
    flex-wrap: wrap;
    max-width: 25%;
    padding: 0 4px;
}
